[webservers]
%{~ for i in webservers ~}
i.nameansible 
host={i.network_interface[0].nat_ip_address} fqdn=${}.ru-central1.internal
%{~ endfor ~}

[databases]
%{~ for i in databases ~}
i.nameansible 
host={i.network_interface[0].nat_ip_address} fqdn=${}.ru-central1.internal
%{~ endfor ~}

[storage]
%{~ for i in storage ~}
i.nameansible 
host={i.network_interface[0].nat_ip_address} fqdn=${}.ru-central1.internal
%{~ endfor ~}
